.gibberish {
    background-color: #ffffff;
}
.gibberish__greysmall {    
    padding-left: 5%; padding-right: 5%;
    font-size: 0.85rem;
    padding-top: 3%;
    color: #aeb0b0;
    line-height: 1.7;
}
.gibberish__title {    
    padding-left: 5%; padding-right: 5%;
    padding-top: 3%;
    font-size: 2.00rem;
}
.gibberish__redsmall {
    padding-left: 5%; padding-right: 5%;
    font-size: 0.85rem;
    padding-top: 3%; padding-bottom: 3%;
    color: #ecbc98;
}