.page__dudepic {    
    background-image: url(./../pics/1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.page__stimulus-word {
    text-align: right;
    font-size: 1.25rem;
    text-shadow: 1px 1px white;
    width: 40%;
}
@media only screen and (max-width: 600px) {
    .page__dudepic {padding-bottom: 85%; padding-top: 5%;}
}
@media only screen and (min-width: 600px) {
    .page__dudepic {padding-bottom: 45%; padding-top: 2.5%;}
}